<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--默认数据库环境名-->
    <environments default="oracle">
        <environment id="oracle">
            <transactionManager type="JDBC"/>
            <!-- mybatis提供了3种数据源类型，分别是：POOLED,UNPOOLED,JNDI -->
            <!-- POOLED 表示支持JDBC数据源连接池 -->
            <!-- UNPOOLED 表示不支持数据源连接池 -->
            <!-- JNDI 表示支持外部数据源连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@10.221.247.44:1521/ipms"/>
                <property name="username" value="ipmsds2"/>
                <property name="password" value="SHipmsds2!23$"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="NetworkElementMapper.xml"/>
        <!--<package name="com/example/dao/"/>-->
    </mappers>
</configuration>